<h1>Create a Hike!</h1>

<form action="/hikes/create" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Type the description here" name="description">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" name="date">
  </div>
  <div class="form-group">
    <label>location</label>
    <input type="text" class="form-control" name="location">
  </div>
  <button type="submit" class="btn btn-primary">Create Hike</button>
</form>