<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @hike[:date] %>
</h2>
<h1>RSVP for <%= @hike[:title] %></h1>

<form action="/hikes/<%= @hike[:id] %>/rsvps/create" method="post">
  <div class="form-group">
    <label>Are you going?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>

  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>